[package]
name = "bowfishing_blitz"
version = "0.1.0"
edition = "2021"

default-run = "bowfishing_blitz"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytemuck = {version="1.14.1", features=["derive"]}
env_logger = "0.11.1"
glam = {version="0.30.1", features=["bytemuck"]}
half = {version="2.4.0", features=["bytemuck"]}
image = {version = "0.24.8", default_features=false, features=["png", "hdr"]}
log = "0.4.20"
pollster = "0.4.0"
wgpu = "24.0.3"
winit = {version = "0.30.9", default_features = false, features = ["rwh_06", "x11"]}
rgbe = "0.0.1"
rand = "0.9.0"
kira = "0.8.7"
sobol_burley = "0.5.0"

[profile.dev.package."*"]
opt-level = 3
